body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  min-height: 10px;
  background-color: cadetblue;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.logo img {
  height: 40px;
  display: inline-block;
  background-color: beige;
  border-radius: 50%;
}

label {
  font-size: 20px;
  display: block;
  margin: 10px;
  background-color: transparent;
}

input {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  display: block;
  margin: 10px;
  font-size: 20px;
}

nav a {
  font-weight: 600;
  padding-right: 50px;
}

nav a:hover {
  color: white;
}

@media (max-widht: 700) {
  header {
    flex-direction: column;
  }

  nav {
    padding: 10px 0px;
  }
}

.correlativo label {
  display: inline-flex;
  position: absolute;
  left: 80px;
  margin-bottom: 50px;
}

.correlativo input {
  display: inline;
  margin-right: 500px;
}

.green {
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 600px;
  margin: 5px;
  background-color: rgb(127, 172, 255);
}

.green label {
  display: inline-block;
  flex-direction: column;
  color: white;
}

.green input {
  display: flex;
  flex-direction: column;
}
