*{
    background-color: rgb(0, 162, 255);
}

label{
    font-size: 25px;
    color: white;
    display: block;
    margin: 10px;
    
}

input{
    width: 250px;
    height: 35px;
    border-radius: 5px;
display:block;
margin: 10px;
font-size:20px ;
}